@use '../abstracts/index' as *;

#contactArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-details {
    text-align: center;
}

#email,
#address {
    padding-top: 15px;
}

@media screen and (min-width: $breakpoint-medium) {
    .row {
        flex-direction: row;
    }

    #contactArea {
        margin-top: -325px;
    }
}

@media screen and (min-width: $breakpoint-xl) {

    #contactArea {
        margin-top: -168px;
    }
    
}