@use '../abstracts/index' as *;

header {
    background-color: $header-colour;
    height: 70px;
    width: 100%;
    display: flex;
}

#header-inner {
    flex-direction: row;
    justify-content: space-between;
}

#club-logo {
    height: 50px;
    border-radius: 17px;
}