@use '../abstracts/index' as *;

#hero-image {
    background: url(assets/HeroImage.JPG);
    width: 100vw;
    height: 95vh;
    background-size: cover;
    background-repeat: no-repeat;
}

#hero-inner {
    width: 100vw;
}

#hero-text {
    font-size: 50px;
    stroke: white;
    stroke-width: 2px;
}