//Colours
$main-background: #FFD691;
$link-text: #A2643A;
$header-colour: #833E1C;

// breakpoint variables
$breakpoint-xs: 420px;
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xl: 1200px;